extends layout

block content

    div.col-md-4
        select#optionSelect
            option(value="-1") Seleccione enfermedad
            option(value="0") Aterosclerosis
            option(value="1") Bronquitis, enfisema y otras enfermedades pulmonares obstructivas cr&oacute;nicas
            option(value="2") Cirrosis y otras enfermedades cr&oacute;nicas del h&iacute;gado
            option(value="3") Diabetes mellitu
            option(value="4") Enfermedades cerebrovasculares

    div.col-md-12
        div#map.container-fluid
    div.col-md-4
        legend Coordenadas póligono
        textarea(cols="50", rows="6", id="textAreaGeo")
        div
            input#DEP_P_CODE(type=text,placeholder='Codigo Departamento')
        div
            input#DEPNAME(type=text,placeholder='Departamento')
        div
            input#MUN_P_CODE(type=text,placeholder='Codigo Municipio')
        div
            input#MUNNAME(type=text,placeholder='Municipio')
        div.input-group
            button#generar Generar
