doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
        link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        link(rel='stylesheet', href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css")
        link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css")

    body()
        block content

    script(src="/bower/jquery/dist/jquery.js")
    script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
    script(src="/bower/angular/angular.js")
    script(src="/bower/bootstrap/dist/js/bootstrap.js")
    script(src="/bower/angular-resource/angular-resource.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js")
    script(src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js")
    script(src="/app/app.js")
    script(src="/js/main.js")
    script(src="/js/GeoJson.js")